@{
    ViewData["Title"] = "Home Page";
    ViewData["js"] = "home.js";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://kit.fontawesome.com/6ed1677f72.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="background">
        <header>
            <p class="lead-text "><i class="fa-regular fa-envelope"></i> Tri Thức - Đạo Đức - Sáng Tạo</p>
            <div id="wrapper">
                <a id="darkmode">Dark Theme</a>
                <input type="checkbox" name="" class="switch-toggle" id="light-dark">
            </div>
            <a href="#"><img src="img/HUTECH27-removebg-preview.png" alt=""></a>

        </header>
        <nav>
            <div class="choose">
                <ul>
                    <li><i class="fa-solid fa-house"></i><a href="https://www.hutech.edu.vn/"> Trang Chủ</a></li>
                    <li><i class="fa-solid fa-torii-gate"></i><a href="http://daotao.hutech.edu.vn/"> Cổng Thông Tin Đào Tạo</a></li>
                    <li><i class="fa-solid fa-circle-info"></i><a href="https://sinhvien.hutech.edu.vn/#/sinhvien/login/login"> Cổng Thông Tin Sinh Viên</a></li>
                </ul>
            </div>
        </nav>
        <div class="picture">
            <a href="#"><img src="img/hutech5.png" alt=""></a>
        </div>

        <article>
            <b id="TQ">TỔNG QUAN VỀ TRƯỜNG</b>
            <div class="list">
                <div class="item">
                    <b1 id="b1">Lịch sử trường đại học công nghệ Thành phố Hồ Chí Minh.</b1>
                    <div class="content">
                        - Trường Đại học Công nghệ TP.HCM - HUTECH tiền thân là Trường Đại học Kỹ thuật Công nghệ TP.HCM,
                        được thành lập ngày 26/4/1995 theo quyết định số 235/QĐ-TTg của Thủ tướng Chính phủ và
                        đi vào hoạt động theo quyết định của Bộ trưởng Bộ GD&ĐT số 2128/QĐ-GDĐT.
                        </br>- Sau hơn 27 năm xây dựng và phát triển, hiện HUTECH sở hữu 04 khu học xá toạ lạc tại TP. Hồ Chí Minh.
                        Các khu học xá được đầu tư xây dựng khang trang, hiện đại theo chuẩn quốc tế
                        với tổng diện tích trên 100.000m2 tạo không gian học tập hiện đại, năng động, thoải mái.
                    </div></br>
                </div>

                <div class="item">
                    <b1 id="b1">Tầm nhìn.</b1>
                    <div class="content">
                        </br> -  Xây dựng HUTECH trở thành môi trường giáo dục đại học sáng tạo,năng động và chuyên nghiệp,có truyền thống đào tạo nguồn nhân lực chất lượng cao gắn liền với tôn chỉ "Tri thức - Đạo đức - Sáng tạo",từng bước hội nhập cùng nền giáo dục khu vực và thế giới.

                        </br>-  HUTECH là trung tâm nghiên cứu khoa học,ứng dụng khoa học-kỹ thuật đáp ứng yêu cầu sản xuất,kinh doanh và chuyển giao công nghệ phục vụ cho sự nghiệp phát triển kinh tế-xã hội,công nghiệp hóa,hiện đại hóa Đất nước.

                        </br>-  Khẳng định vị thế của HUTECH là trường đại học hàng đầu về chất lượng đào tạo trong hệ thống giáo dục Việt Nam và khu vực.
                    </div></br>
                </div>

                <div class="item" id="lastitem">
                    <b1 id="b1">Sứ mệnh.</b1>
                    <div class="content">
                        </br>- HUTECH cam kết là đơn vị giáo dục tiên phong cung cấp nguồn nhân lực chất lượng cao, toàn diện cho nền kinh tế tri thức trong giai đoạn mới;</br>
                        </br>- Trang bị cho thế hệ trẻ Việt Nam kiến thức chuyên môn và kỹ năng thực hành chuyên nghiệp là công cụ hữu hiệu để nâng cao tri thức khoa học, có khả năng làm việc độc lập, sáng tạo, thích ứng tốt với công việc;</br>
                        </br>- Tạo cơ hội thăng tiến và thành công trong sự nghiệp, đáp ứng yêu cầu phát triển kinh tế - xã hội, tự tin hội nhập với cộng đồng quốc tế.
                    </div></br>
                </div>
            </div>
        </article>

        <div class="picture3">
            <a href="#"><img src="img/pic6-removebg-preview.png" alt=""></a>
        </div>

        <div class="picture2">
            <a href="#"><img src="img/pic2.jpg" alt=""></a>
        </div>

        <section class="Major">
            <b1 id="b1">Các đơn vị đào tạo của trường.</b1></br>
            <ul >
                </br>
                <li><i class="fa-solid fa-square-check"></i><a class="inslink" href="https://www.hutech.edu.vn/khoaduoc">Khoa Dược</a></li>
                <li><i class="fa-solid fa-square-check"></i><a class="inslink" href="https://www.hutech.edu.vn/khoadieuduong">Khoa Điều Dưỡng Và Xét Nghiệm</a></li>
                <li><i class="fa-solid fa-square-check"></i><a class="inslink" href="https://www.hutech.edu.vn/khoacntt">Khoa Công Nghệ Thông Tin</a></li>
                <li><i class="fa-solid fa-square-check"></i><a class="inslink" href="https://www.hutech.edu.vn/khoaxd">Khoa Xây Dựng</a></li>
                <li><i class="fa-solid fa-square-check"></i><a class="inslink" href="https://www.hutech.edu.vn/truyenthongthietke">Khoa Truyền Thông Và Thiết Kế</a></li>
                <li><i class="fa-solid fa-square-check"></i><a class="inslink" href="https://www.hutech.edu.vn/khoaktmt">Khoa Kiến Trúc và Mĩ Thuật</a></li>
                <li><i class="fa-solid fa-square-check"></i><a class="inslink" href="https://www.hutech.edu.vn/khoaqtkd">Khoa Quản Trị Kinh Doanh</a></li>
                <li><i class="fa-solid fa-square-check"></i><a class="inslink" href="https://www.hutech.edu.vn/khoaqtnhks">Khoa Quản Trị Du Lịch-Nhà Hàng-Khách Sạn</a></li>
                <li><i class="fa-solid fa-square-check"></i><a class="inslink" href="https://www.hutech.edu.vn/tuyensinh/dai-hoc/nganh-dao-tao/nganh-marketing">Khoa Mareting</a></li>
                <li><i class="fa-solid fa-square-check"></i><a class="inslink" href="https://www.hutech.edu.vn/khoatctm"> Tài Chính Thương Mại</a></li>
                <li><i class="fa-solid fa-square-check"></i><a class="inslink" href="https://www.hutech.edu.vn/khoaluat">Khoa Luật</a></li>
                <li><i class="fa-solid fa-square-check"></i><a class="inslink" href="https://www.hutech.edu.vn/tienganh">Khoa Tiếng Anh</a></li>
                <li><i class="fa-solid fa-square-check"></i><a class="inslink" href="https://www.hutech.edu.vn/khoanhatban">Khoa Nhật Bản Học</a></li>
                <li><i class="fa-solid fa-square-check"></i><a class="inslink" href="https://www.hutech.edu.vn/khoatqh">Khoa Trung Quốc Học</a></li>
                <li><i class="fa-solid fa-square-check"></i><a class="inslink" href="https://www.hutech.edu.vn/khoahqh">Khoa Hàn Quốc Học</a></li>
                <li><i class="fa-solid fa-square-check"></i><a class="inslink" href="https://www.hutech.edu.vn/khoakhxhqhcc">Khoa Khoa Học Xã Hội Và Quan Hệ Công Chúng</a></li>
                <li><i class="fa-solid fa-square-check"></i><a class="inslink" href="https://www.hutech.edu.vn/khoahttt">Khoa Hệ Thống Thông Tin Quản Lí</a></li>
                <li><i class="fa-solid fa-square-check"></i><a class="inslink" href="https://www.hutech.edu.vn/khoathuychannuoi">Khoa Thú Y</a></li>
                <li><i class="fa-solid fa-square-check"></i><a class="inslink" href="https://www.hutech.edu.vn/vienkythuat">Viện Kỹ Thuật Hutech</a></li>
                <li><i class="fa-solid fa-square-check"></i><a class="inslink" href="https://www.hutech.edu.vn/vienkhoahoc">Viện Khoa Học Và Ứng Dụng</a></li>
                <li><i class="fa-solid fa-square-check"></i><a class="inslink" href="https://www.hutech.edu.vn/vienannt">Viện Âm Nhạc Và Nghệ Thuật</a></li>
                <li><i class="fa-solid fa-square-check"></i><a class="inslink" href="https://www.hutech.edu.vn/quocte">Viện Đào Tạo Quốc Tế Hutech</a></li>
                <li><i class="fa-solid fa-square-check"></i><a class="inslink" href="https://www.hutech.edu.vn/vjit">Viện Công Nghệ Việt-Nhật</a></li>
                <li><i class="fa-solid fa-square-check"></i><a class="inslink" href="https://www.hutech.edu.vn/vkit">Viện Công Nghệ Việt-Hàn</a></li>
                <li><i class="fa-solid fa-square-check"></i><a class="inslink" href="https://www.hutech.edu.vn/sdh">Viện Đào Tạo Sau Đại Học</a></li>
                <li><i class="fa-solid fa-square-check"></i><a class="inslink" href="https://www.hutech.edu.vn/sdh">Viện Công Nghệ CIRTech</a></li>
                <li><i class="fa-solid fa-square-check"></i><a class="inslink" href="https://www.hutech.edu.vn/e-hutech/tin-tuc-su-kien/14601561-vien-hop-tac-va-phat-trien-dao-tao-trien-khai-cac-hoat-dong-lien-ket-hop-tac-dao-tao-tai-long-an">Viện Hợp Tác Và Phát Triển Đào Tạo</a></li>
                <li><i class="fa-solid fa-square-check"></i><a class="inslink" href="https://www.hutech.edu.vn/ttthnnkn">Trung Tâm Tin Học-Ngoại Ngữ-Kĩ Năng</a></li>
                <li><i class="fa-solid fa-square-check"></i><a class="inslink" href="https://www.hutech.edu.vn/ttnn">Trung Tâm Nhật Ngữ Hutech</a></li>
                <li><i class="fa-solid fa-square-check"></i><a class="inslink" href="https://www.hutech.edu.vn/ttgdctqp">Trung Tâm Giáo Dục Thể Chất</a></li>
                <li><i class="fa-solid fa-square-check"></i><a class="inslink" href="https://www.hutech.edu.vn/ttgdctqp">Trung Tâm Giáo Dục-Chính Trị Quốc Phòng</a></li>
            </ul>
        </section>
    </div>

    <script>
        var checkbox_toggle = document.getElementById('light-dark');
        checkbox_toggle.addEventListener('change', function () {
            document.body.classList.toggle('dark');
        });
    </script>

</body>
</html>

