@{
    Layout = null;
}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.84.0">
    <title>Signin Template · Bootstrap v5.0</title>


    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/Login.css" asp-append-version="true" />
    <style>
    </style>



</head>
<body class="text-center">

    <main class="form-signin">
        <form>
            <img class="mb-4" src="~/img/logo.png" alt="" width=auto height=auto>
            <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

            <div class="form-floating">
                <input type="email" class="form-control" id="txtUsername" placeholder="name@example.com">
                <label for="floatingInput">Email address</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="txtPassword" placeholder="Password">
                <label for="floatingPassword">Password</label>
            </div>

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>
            <button class="w-100 btn btn-lg btn-primary" type="button" onclick="login()">Sign in</button>
            <button type="button" class="mt-2 w-100 btn btn-lg btn-info" data-bs-toggle="modal" data-bs-target="#modalRegister">
                Register
            </button>
            <p class="mt-5 mb-3 text-muted">&copy; 2017–2021</p>
        </form>
    </main>
    <div id="modalRegister" class="modal fade" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Register New User</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>
                        <form action="/Login/Register" method="post" class="row g-3 needs-validation" novalidate>
                            <div class="col-md-4">
                                <label for="txtFullname" class="form-label">Full name</label>
                                <input type="text" class="form-control" name="txtFullname" id="txtFullname" value="" required>
                                <div class="invalid-feedback">
                                    Please insert fullname.
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label for="txtUsername1" class="form-label">Username</label>
                                <div class="input-group has-validation">
                                    <span class="input-group-text" id="inputGroupPrepend">ID</span>
                                    <input type="text" class="form-control" name="txtUsername1" id="txtUsername1" aria-describedby="inputGroupPrepend" required>
                                    <div class="invalid-feedback">
                                        Please insert username.
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label for="txtPassword1" class="form-label">Password</label>
                                <input type="password" class="form-control" name="txtPassword1" id="txtPassword1" value="" required>
                                <div class="invalid-feedback">
                                    Please insert password.
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="txtCity" class="form-label">City</label>
                                <input type="text" class="form-control" name="txtCity" id="txtCity" required>
                                <div class="invalid-feedback">
                                    Please provide a valid city.
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label for="selState" class="form-label">State</label>
                                <select class="form-select" name="selState" id="selState" required>
                                    <option selected disabled value="">choose...</option>
                                    @foreach (var p in Model)
                                    {
                                        <option value="@p.Id"> @p.Province1</option>
                                    }
                                    
                                </select>
                                <div class="invalid-feedback">
                                    Please select a valid state.
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label for="txtzip" class="form-label">Zip</label>
                                <input type="text" class="form-control" name="txtzip" id="txtzip" required>
                                <div class="invalid-feedback">
                                    Please provide a valid zip.
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                                    <label class="form-check-label" for="invalidCheck">
                                        Agree to terms and conditions
                                    </label>
                                    <div class="invalid-feedback">
                                        You must agree before submitting.
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primary" type="submit">Submit form</button>
                            </div>
                        </form>
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/Login.js" asp-append-version="true"></script>


</body>
</html>
